[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
uvicorn = { extras = ["standard"], version = "*" }
pymongo = "*"
python-multipart = "*"
pydantic = "*"
faster-whisper = "*"
google-generativeai = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.10"
