[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
coverage = "*"
pytest-flask = "*"
black = "*"
pylint = "*"
colorama = "*"
flask-cors = "*"
requests = "*"
tzdata = "*"
pytest = "*"
pytest-cov = "*"
gunicorn = "*"

[dev-packages]
black = "*"
pylint = "*"
pytest-cov = "*"


[requires]
python_version = "3.10"
